####################################
#                                  #
#         Ansible Managed          #
# ansible-postfix-to-mandrill role #
#                                  #
####################################
@{{ inventory_hostname }} {{ postfix_to_mandrill_default_sender }}
