####################################
#                                  #
#         Ansible Managed          #
# ansible-postfix-to-mandrill role #
#                                  #
####################################
{% if postfix_to_mandrill_local_only %}
@{{ inventory_hostname }} {{ postfix_to_mandrill_default_receiver }}
{% else %}
/.+/ {{ postfix_to_mandrill_default_receiver }}
{% endif %}
