####################################
#                                  #
#         Ansible Managed          #
# ansible-postfix-to-mandrill role #
#                                  #
####################################
/From:.*/ REPLACE From: {{ postfix_to_mandrill_default_sender }}
{% if postfix_to_mandrill_subaccount is defined %}
/^Message-Id:/ PREPEND X-MC-Subaccount: {{ postfix_to_mandrill_subaccount }}
{% endif %}
